*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: white;
    overflow: hidden;
}

.home_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}